# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
# Let git decides how to handle the rest automatically
* text=auto

# Linux and macOS files
*.sh text eol=lf

# Windows files
*.bat text eol=crlf
